$blue: #1F3368;
$blueLight: #3F468B;
$purpleDeep: #09203F;
$purpleHover: #976187;
$white: #ffffff;
$default: #000;
$red: #D6000D;
$greenMiddle: #5CC64D;
$greenDeep: #17585D;
$greenLight: #2EB41B;
$greenHeav: #052B00;
$light: #F6F6F6;
$lightBg: #F8F8F8;
$gray: #F2F2F2;
$grayCFour: #F9F9F9;
$grayLight: #707070;
$grayBorder: #EFEFEF;
$grayE: #B2B2B2;
$yellowlight: #AC7D13;
$yellowDeep: #805825;
$orangeDeep: #b05f0b;
$yellow: #FFD739;
$black:#000000